body {
  padding-top: 70px;
  background: #fff2e6;
}

.container-fluid {
  max-width: 1000px;
}

#bhead {
  background: gray;
}

#bcon {
  margin: 20px;
  background: #cceeff;
}
#bmid{
  margin: 20px;
}

#econ {
  text-align: center;
}

#middle {
  text-align: center;
  margin: 20px;
}

#mhead {
  background: gray;
}

#mid {
  border: 2px solid white;
  padding: 40px;
  background: #ffcc99;
  height: 600px;
  max-height:100%;
}

#mid p {
  padding: 10px;
}

#mcon {
  margin: 15px;
  padding: 15px;
  background: #DCDCDC;
}

#mcon img {
  max-height: 150px;
  border: 4px solid gray;
  margin: 10px;
}

#mcon li {
  list-style: none;
}

#mcon p {
  text-align: center;
  font-size: 2em;
  font-family: bitter;
  }

/* Carousel*/

.carousel-indicators {
  bottom: 0;
}

.item .btn-grp {
  padding-top: -60px;
}

.item {
  margin-left: 60px;
  padding-left: 50px;
}

#carousel h1 {
  text-align: left;
  font-family: dancing;
  font-style: italic;
  font-size: 7em;
  margin-bottom: -60px;
  max-width: 200px;
}

#carousel p {
  text-align: left;
  margin-top: 90px;
}

#carousel .imgc{
float:right;
height: 300px;
border: 4px solid white;
margin-right: 70px;
margin-left: 20px;
max-width: 400px;
}

#carousel {
  background-color: #b3ccff;
}
